-- Añadir columna para imágenes en mensajes
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS image_url TEXT;

-- Añadir columna para tipo de mensaje (opcional pero profesional)
ALTER TABLE public.messages ADD COLUMN IF NOT EXISTS type TEXT DEFAULT 'text';

-- Crear bucket para imágenes de chat si no existe
INSERT INTO storage.buckets (id, name, public) 
VALUES ('chat-media', 'chat-media', true)
ON CONFLICT (id) DO NOTHING;

-- Políticas de storage para chat-media
CREATE POLICY \
Any
authenticated
user
can
upload
chat
media\
ON storage.objects FOR INSERT
TO authenticated
WITH CHECK (bucket_id = 'chat-media');

CREATE POLICY \Any
authenticated
user
can
view
chat
media\
ON storage.objects FOR SELECT
TO authenticated
USING (bucket_id = 'chat-media');
